:root {
  --color-primary: #33302e;
  --color-secondary: #efece7;
  --color-tertiary: #fafafa;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #666;
  --color-grey-light: #ccc; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  box-sizing: border-box; }

.h1 {
  color: var(--color-white);
  font-size: 6.0rem;
  font-weight: 200;
  line-height: 1.1;
  text-shadow: -0.5px 0px 0px white; }
  @media only screen and (max-width: 62.5em) {
    .h1 {
      font-size: 5rem; } }
  @media only screen and (max-width: 43.75em) {
    .h1 {
      font-size: 4rem;
      line-height: 1.3; } }
  .h1--left {
    display: block;
    animation: moveInLeft 1s ease-out; }
  .h1--right {
    display: block;
    animation: moveInRight 1s ease-out; }

.h2 {
  color: var(--color-white);
  font-size: 4.5rem;
  font-weight: 200;
  line-height: 1.2; }
  @media only screen and (max-width: 43.75em) {
    .h2 {
      font-size: 3.4rem; } }

.h3 {
  color: var(--color-white);
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.2; }

.h4 {
  color: var(--color-white);
  font-size: 2.3rem;
  font-weight: 200;
  line-height: 1.5; }

.h5 {
  font-size: 1.6rem;
  font-weight: 200; }

.h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: var(--color-white);
  font-size: 1.1rem;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .h6--animated {
    animation: moveInTop 1s ease-out .75s;
    animation-fill-mode: backwards; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 5rem !important; }

.footer {
  background-color: #202020;
  padding: 8rem 20rem 6rem 20rem; }
  @media only screen and (max-width: 62.5em) {
    .footer {
      padding: 8rem 10rem 6rem 10rem; } }
  @media only screen and (max-width: 43.75em) {
    .footer {
      text-align: center;
      padding: 8rem 5rem 6rem 5rem; } }
  .footer__logo:link, .footer__logo:visited {
    text-decoration: none;
    color: var(--color-white);
    font-size: 2.3rem;
    cursor: pointer;
    font-weight: 300;
    text-shadow: -0.5px 0px 0px white;
    letter-spacing: 1.8px; }
  .footer__container--outer {
    padding-top: 2.1rem;
    border-top: 1px solid var(--color-grey); }
  .footer__container {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 6rem;
    align-items: flex-start;
    justify-content: center; }
  .footer__menu .h6, .footer__services .h6, .footer__contact .h6 {
    font-size: 1.2rem;
    margin-bottom: 2.5rem; }
  .footer__menu--list, .footer__services--list, .footer__contact--list {
    margin-top: 1rem;
    list-style: none; }
    .footer__menu--list a, .footer__services--list a, .footer__contact--list a {
      text-decoration: none;
      color: var(--color-grey-light);
      font-size: 1.2rem;
      cursor: pointer; }
      .footer__menu--list a:hover, .footer__services--list a:hover, .footer__contact--list a:hover {
        color: var(--color-white); }
  .footer__menu--item, .footer__services--item, .footer__contact--item {
    margin-top: 1.1rem; }
    @media only screen and (max-width: 43.75em) {
      .footer__menu--item, .footer__services--item, .footer__contact--item {
        margin-top: 0.7rem; } }
  .footer .social-links {
    margin-top: 1.5rem; }
    .footer .social-links__icons--facebook, .footer .social-links__icons--instagram, .footer .social-links__icons--google-plus1, .footer .social-links__icons--mail {
      fill: var(--color-grey-light);
      height: 2rem;
      width: 2rem;
      margin-right: 0.4rem;
      stroke: #202020;
      stroke-width: 0.7; }
      .footer .social-links__icons--facebook:hover, .footer .social-links__icons--instagram:hover, .footer .social-links__icons--google-plus1:hover, .footer .social-links__icons--mail:hover {
        fill: var(--color-white); }
  .footer__copyright {
    color: var(--color-white);
    margin-top: 10rem; }

.header__slider {
  position: relative;
  display: block;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }
  .header__slider .slick-arrow {
    position: absolute;
    z-index: 20;
    top: 50%;
    width: 4.6rem;
    height: 4.6rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: 0.2s; }
    .header__slider .slick-arrow:hover {
      background-color: #000; }
    .header__slider .slick-arrow.slick-prev {
      left: 3rem;
      z-index: 100;
      font-size: 0;
      transition: 0.2s; }
      .header__slider .slick-arrow.slick-prev .slick-prev__icon {
        height: 2rem;
        width: 2rem;
        fill: #000; }
      .header__slider .slick-arrow.slick-prev:hover .slick-prev__icon {
        fill: #fff; }
    .header__slider .slick-arrow.slick-next {
      right: 3rem;
      z-index: 100;
      font-size: 0;
      transition: 0.2s; }
      .header__slider .slick-arrow.slick-next .slick-next__icon {
        height: 2rem;
        width: 2rem;
        fill: #000; }
      .header__slider .slick-arrow.slick-next:hover .slick-next__icon {
        fill: #fff; }

.header .slide {
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  height: 100vh; }
  .header .slide--1 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/slide1.jpg); }
  .header .slide--2 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/slide2.jpg); }
  .header .slide--3 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slide3.jpg); }
  .header .slide--4 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/slide4.jpg); }

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10; }
  .header__text-box .h6 {
    margin-bottom: 2.4rem; }

.navigation {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  height: 1rem;
  padding-top: 1rem; }
  @media only screen and (max-width: 43.75em) {
    .navigation {
      position: relative;
      background-color: var(--color-white);
      color: var(--color-primary);
      height: 4.8rem;
      padding-top: 0; } }
  .navigation__nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 4rem;
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 43.75em) {
      .navigation__nav {
        flex-direction: column;
        align-items: center;
        height: 100%; } }
  @media only screen and (max-width: 43.75em) {
    .navigation__mobile {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      height: 100%;
      padding-top: 0.2rem; } }
  .navigation__logo:link, .navigation__logo:visited {
    text-decoration: none;
    color: var(--color-white);
    font-size: 2.6rem;
    cursor: pointer;
    font-weight: 300;
    text-shadow: -0.5px 0px 0px white;
    letter-spacing: 1.8px; }
    @media only screen and (max-width: 43.75em) {
      .navigation__logo:link, .navigation__logo:visited {
        color: var(--color-primary);
        font-weight: 300;
        height: 100%; } }
  .navigation__list {
    display: flex;
    list-style: none;
    justify-content: center; }
    @media only screen and (max-width: 43.75em) {
      .navigation__list {
        position: absolute;
        top: 4rem;
        display: none;
        background-color: var(--color-white);
        padding: 2.2rem 0 1.1rem 0; } }
  .navigation__item {
    margin: 0 1.2rem; }
    @media only screen and (max-width: 62.5em) {
      .navigation__item {
        margin: 0 1rem; } }
    @media only screen and (max-width: 43.75em) {
      .navigation__item {
        width: 100vw;
        text-align: center;
        margin: 0.9rem 0; } }
  .navigation__item--tablet-view {
    display: none; }
    @media only screen and (max-width: 62.5em) {
      .navigation__item--tablet-view {
        display: unset; } }
    @media only screen and (max-width: 43.75em) {
      .navigation__item--tablet-view {
        display: block; } }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: var(--color-white);
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.4s;
    padding-bottom: 0.1rem; }
    @media only screen and (max-width: 43.75em) {
      .navigation__link:link, .navigation__link:visited {
        color: var(--color-grey); } }
  .navigation__link:hover, .navigation__link:active {
    border-bottom: 1px solid var(--color-white); }
    @media only screen and (max-width: 43.75em) {
      .navigation__link:hover, .navigation__link:active {
        color: var(--color-black);
        border-bottom: 1px solid var(--color-black); } }
  @media only screen and (max-width: 62.5em) {
    .navigation__ctrl {
      display: none; } }
  .navigation__ctrl--icon {
    margin-bottom: -1rem;
    margin-right: 0.9rem;
    height: 3rem;
    width: 3rem;
    fill: var(--color-grey-light); }
    .navigation__ctrl--icon:hover {
      fill: var(--color-tertiary); }
  .navigation__icons {
    display: none; }
    @media only screen and (max-width: 43.75em) {
      .navigation__icons {
        display: unset; } }
    .navigation__icons--mail, .navigation__icons--phone, .navigation__icons--dehaze {
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.7rem;
      stroke: var(--color-white);
      stroke-width: 0.7;
      padding-top: 0.6rem; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  height: 7rem;
  z-index: 9997;
  box-shadow: 0 1px 1px #efefef;
  transition: all 0.4s ease-out; }
  @media only screen and (max-width: 43.75em) {
    .sticky {
      height: 4.8rem; } }
  .sticky .navigation__logo {
    color: var(--color-primary);
    text-shadow: -0.8px 0px 0px #33302e; }
    @media only screen and (max-width: 43.75em) {
      .sticky .navigation__logo {
        text-shadow: none; } }
  .sticky .navigation__link:link, .sticky .navigation__link:visited {
    color: var(--color-grey); }
  .sticky .navigation__link:hover, .sticky .navigation__link:active {
    color: var(--color-black);
    border-bottom: 1px solid var(--color-black); }
  .sticky .navigation__ctrl--icon:hover {
    fill: var(--color-primary); }

#sidebar {
  width: 500px;
  position: fixed;
  top: 0;
  right: -500px;
  height: 100vh;
  z-index: 9999;
  background: var(--color-white);
  -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7vh 7rem 4vh 7rem; }
  @media only screen and (max-width: 43.75em) {
    #sidebar {
      display: none; } }
  #sidebar.active {
    right: 0; }
  #sidebar .sidebar__icon--x {
    height: 2.5rem;
    width: 2.5rem;
    stroke: var(--color-white);
    stroke-width: 1;
    float: right; }
    #sidebar .sidebar__icon--x:hover {
      fill: var(--color-grey); }
  #sidebar .content {
    margin-top: -7rem; }
    #sidebar .content .h1, #sidebar .content .h2, #sidebar .content .h3, #sidebar .content .h4, #sidebar .content .h5, #sidebar .content .h6 {
      color: var(--color-black); }
    #sidebar .content .h4, #sidebar .content .h3 {
      margin-bottom: 2.6rem; }
    #sidebar .content a {
      text-decoration: none;
      display: inline-block; }
  #sidebar .social-links__icons--facebook, #sidebar .social-links__icons--instagram, #sidebar .social-links__icons--google-plus1, #sidebar .social-links__icons--mail {
    fill: var(--color-grey);
    height: 2rem;
    width: 2rem;
    margin-right: .4rem;
    stroke: var(--color-white);
    stroke-width: .7; }

.sidebar-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  display: none; }
  @media only screen and (max-width: 43.75em) {
    .sidebar-overlay {
      display: none; } }

.gallery {
  background-color: var(--color-grey-light);
  display: grid;
  grid-template: repeat(8, 4vw)/repeat(16, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 4;
    grid-column: 1 / span 3; }
  .gallery__item--2 {
    grid-row: 1 / span 5;
    grid-column: 10 / span 4; }
  .gallery__item--3 {
    grid-row: 5 / 6;
    grid-column: 14 / span 3; }
  .gallery__item--4 {
    grid-row: 1 / span 5;
    grid-column: 4 / 7; }
  .gallery__item--5 {
    grid-row: 1 / span 4;
    grid-column: 14 / -1; }
  .gallery__item--6 {
    grid-row: 4 / span 5;
    grid-column: 7 / span 3; }
  .gallery__item--7 {
    grid-row: 6 / 9;
    grid-column: 4 / 7; }
  .gallery__item--8 {
    grid-row: 1 / span 3;
    grid-column: 7 / span 3; }
  .gallery__item--9 {
    grid-row: 6 / 9;
    grid-column: 10 / span 5; }
  .gallery__item--10 {
    grid-row: 5 / 6;
    grid-column: 1 / span 3; }
  .gallery__item--11 {
    grid-row: 6 / span 3;
    grid-column: 15 / -1; }
  .gallery__item--12 {
    grid-row: 6 / 9;
    grid-column: 1 / span 3; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem 0.9rem;
  display: inline-block;
  border-radius: 2px;
  transition: all .4s ease-in-out;
  position: relative;
  border: 1px solid #fff;
  white-space: nowrap;
  border: none;
  cursor: pointer; }

.btn--white {
  font-size: 1.2rem;
  margin-top: 3rem;
  font-family: "Raleway", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: 600;
  letter-spacing: 2.5px; }
  .btn--white:hover {
    background-color: var(--color-black);
    color: var(--color-white); }

.btn--black {
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 600;
  letter-spacing: 2.5px; }
  .btn--black:hover {
    background-color: #333333; }

.btn--animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards; }

.dark-bg {
  background-color: var(--color-primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; }
  @media only screen and (max-width: 62.5em) {
    .dark-bg {
      height: 40vh; } }
  @media only screen and (max-width: 43.75em) {
    .dark-bg {
      height: 30vh; } }
  .dark-bg--content {
    margin-left: auto;
    margin-right: auto;
    padding: 10rem 0;
    max-width: 50vw; }
    @media only screen and (max-width: 62.5em) {
      .dark-bg--content {
        max-width: 78vw; } }
    @media only screen and (max-width: 43.75em) {
      .dark-bg--content {
        max-width: 90vw; } }

.cream-bg {
  background-color: var(--color-secondary);
  padding: 12rem 10rem 12rem 10rem;
  text-align: center; }
  .cream-bg .h6 {
    color: var(--color-black);
    margin-bottom: 1.5rem; }
  .cream-bg .h3 {
    color: var(--color-black);
    margin-bottom: 10rem; }
  .cream-bg .btn--black {
    margin-top: 3rem; }
  @media only screen and (max-width: 62.5em) {
    .cream-bg {
      padding: 10rem 5rem; } }
  .cream-bg__inner {
    max-width: 110rem;
    margin: 3rem auto; }
    .cream-bg__inner--content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
      grid-gap: 7rem;
      text-align: center; }
      .cream-bg__inner--content .massage__outer:last-child {
        grid-column: 2 / -2; }
      .cream-bg__inner--content .massage__outer .massage {
        position: relative;
        overflow: hidden;
        background-color: orangered; }
        .cream-bg__inner--content .massage__outer .massage__img {
          display: table-cell;
          width: 100%;
          height: 100%;
          transition: all 0.2s linear, 1s; }
        .cream-bg__inner--content .massage__outer .massage__overlay {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          position: absolute;
          left: 0px;
          top: 0px;
          opacity: 0;
          transition: all 0.2s linear, 1s; }
          .cream-bg__inner--content .massage__outer .massage__overlay--text-box {
            position: absolute;
            top: 62%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 7%;
            transition: all 0.2s linear, 1s; }
            .cream-bg__inner--content .massage__outer .massage__overlay--text-box .h6 {
              color: var(--color-white);
              text-decoration: none; }
        .cream-bg__inner--content .massage__outer .massage:hover .massage__overlay {
          opacity: 1; }
        .cream-bg__inner--content .massage__outer .massage:hover .massage__img {
          transform: scale(1.04, 1.04); }
        .cream-bg__inner--content .massage__outer .massage:hover .massage__overlay .massage__overlay--text-box {
          margin-top: -7%; }
      .cream-bg__inner--content .h4 {
        margin-top: 2rem;
        color: var(--color-grey);
        font-weight: 300; }

.light-bg {
  background-color: var(--color-tertiary);
  padding: 9rem 5rem 5rem 5rem;
  text-align: center; }
  .light-bg__container {
    max-width: 68rem;
    margin: 0 auto;
    text-align: center;
    margin: 6rem auto; }
    @media only screen and (max-width: 62.5em) {
      .light-bg__container {
        max-width: 55rem; } }
    .light-bg__container--title {
      color: var(--color-black);
      margin-bottom: 7rem; }
    .light-bg__container .review {
      position: relative;
      width: 100%;
      padding: 8rem 0 2rem 0; }
      .light-bg__container .review::before {
        content: "\201C";
        position: absolute;
        left: 50%;
        margin-left: -4rem;
        font-size: 16rem;
        top: -7.8rem;
        color: var(--color-grey); }
        @media only screen and (max-width: 43.75em) {
          .light-bg__container .review::before {
            top: -6rem; } }
      .light-bg__container .review .h4 {
        color: var(--color-black);
        line-height: 1.4; }
      .light-bg__container .review .photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin: 2rem auto;
        display: block; }
      .light-bg__container .review .h6 {
        color: var(--color-primary);
        font-size: 1.3rem;
        font-weight: 700; }

.slick-dots {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none; }
  .slick-dots li {
    margin: 0 0.25rem; }
  .slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 100%;
    background-color: var(--color-secondary);
    text-indent: -9999px; }
  .slick-dots li.slick-active button {
    background-color: var(--color-grey); }

.about {
  padding: 12rem 10rem 18rem 10rem; }
  @media only screen and (max-width: 62.5em) {
    .about {
      padding: 10rem 4rem 14rem 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .about {
      padding: 10rem 2rem; } }
  .about__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100rem; }
    @media only screen and (max-width: 62.5em) {
      .about__content {
        max-width: 75rem; } }
    @media only screen and (max-width: 43.75em) {
      .about__content {
        flex-direction: column; } }
    .about__content--img {
      width: 50vw;
      height: auto; }
      @media only screen and (max-width: 62.5em) {
        .about__content--img {
          width: 37vw; } }
      @media only screen and (max-width: 43.75em) {
        .about__content--img {
          margin-bottom: 8rem;
          width: 70vw; } }
    .about__content--text {
      margin-left: 8vw; }
      @media only screen and (max-width: 62.5em) {
        .about__content--text {
          margin-left: 7vw; } }
      @media only screen and (max-width: 43.75em) {
        .about__content--text {
          margin: 0 5rem; } }
      .about__content--text .h4 {
        color: var(--color-black);
        font-weight: 300;
        margin-bottom: 2rem;
        text-align: center; }
      .about__content--text p {
        font-size: 1.6rem;
        font-weight: 300;
        text-indent: 4rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden; }
  @media screen and (max-width: 1190px) {
    .popup {
      text-align: center; } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: var(--color-white);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 40%;
    display: table-cell; }
    @media screen and (max-width: 1190px) {
      .popup__left {
        display: table-row; } }
  .popup__right {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media screen and (max-width: 1190px) {
      .popup__right {
        display: table-row;
        padding: 0;
        margin: 1rem; } }
    .popup__right .h3 {
      color: var(--color-black); }
      @media screen and (max-width: 1190px) {
        .popup__right .h3 {
          margin-top: 2.5rem; } }
      @media only screen and (max-width: 43.75em) {
        .popup__right .h3 {
          margin: 2rem 2rem 0 2rem;
          margin-bottom: 1rem; } }
  .popup__text {
    font-size: 1.4rem;
    line-height: 1.4; }
    @media screen and (max-width: 1190px) {
      .popup__text {
        margin: 1rem 4rem;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 43.75em) {
      .popup__text {
        margin: 0 2rem; } }
  .popup__price {
    font-style: italic; }
    .popup__price span {
      display: inline-block;
      margin-right: 8rem; }
      @media screen and (max-width: 1190px) {
        .popup__price span {
          margin-right: 12rem; } }
  @media only screen and (max-width: 1190px) and (max-width: 43.75em) {
    .popup__price span {
      display: block;
      margin-right: 0; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media screen and (max-width: 1190px) {
      .popup__img {
        display: inline-block;
        width: 50%; } }
  @media screen and (max-width: 1190px) {
    .popup .btn {
      margin-bottom: 3rem; } }
  .popup__close:link, .popup__close:visited {
    color: var(--color-black);
    position: absolute;
    top: 2.5rem;
    right: 4.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block; }
    @media screen and (max-width: 1190px) {
      .popup__close:link, .popup__close:visited {
        top: 0.4rem;
        right: 2rem; } }
  .popup__close:hover {
    color: var(--color-grey); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
