*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  height: 100%; }

#slider .item > div {
  display: block;
  width: 100%;
  height: auto; }

.item .slide {
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  height: 100vh; }
  .item .slide--1 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slide1.jpg); }
  .item .slide--2 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slide2.jpg); }
  .item .slide--3 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slide3.jpg); }
  .item .slide--4 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slide4.jpg); }
