:root {
  --color-primary: #33302e;
  --color-secondary: #efece7;
  --color-tertiary: #fafafa;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #666; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  height: 100%; }

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  box-sizing: border-box; }

h1 {
  color: var(--color-white);
  font-size: 6.4rem;
  font-weight: 200;
  line-height: 1.1em;
  text-shadow: -1px 0px 0px white; }

h6 {
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  font-size: 1rem;
  line-height: 2.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2.5rem; }

.header__slider {
  position: relative;
  display: block;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }
  .header__slider .slick-arrow {
    position: absolute;
    z-index: 20;
    top: 50%;
    width: 4.6rem;
    height: 4.6rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: 0.2s; }
    .header__slider .slick-arrow:hover {
      background-color: #000; }
    .header__slider .slick-arrow.slick-prev {
      left: 3rem;
      z-index: 100;
      font-size: 0;
      transition: 0.2s; }
      .header__slider .slick-arrow.slick-prev .slick-prev__icon {
        height: 2rem;
        width: 2rem;
        fill: #000; }
      .header__slider .slick-arrow.slick-prev:hover .slick-prev__icon {
        fill: #fff; }
    .header__slider .slick-arrow.slick-next {
      right: 3rem;
      z-index: 100;
      font-size: 0;
      transition: 0.2s; }
      .header__slider .slick-arrow.slick-next .slick-next__icon {
        height: 2rem;
        width: 2rem;
        fill: #000; }
      .header__slider .slick-arrow.slick-next:hover .slick-next__icon {
        fill: #fff; }

.header .slide {
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  height: 100vh; }
  .header .slide--1 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/slide1.jpg); }
  .header .slide--2 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/slide2.jpg); }
  .header .slide--3 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slide3.jpg); }
  .header .slide--4 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/slide4.jpg); }

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10; }
