//MEDIA QUERY MANAGER

//$bp-largest: 75em;   //1200/16=75
$bp-large: 75em;   //1200px
$bp-medium: 62.5em;   //1000px
$bp-small: 43.75em;   //700px
$bp-smallest: 31.25em;   //500px

@mixin respond($breakpoint) {
    @if $breakpoint == $bp-small {
        @media only screen and (max-width: 43.75em) { @content; }       
    }
    @if $breakpoint == $bp-medium {
        @media only screen and (max-width: 62.5em) { @content; }       
    }
    @if $breakpoint == $bp-large {
        @media only screen and (max-width: 75em) { @content; }      
    }
}

