:root {
    --color-primary: #33302e;
    --color-secondary: #efece7;
    --color-tertiary: #fafafa;

    --color-white: #fff;
    --color-black: #000;
    --color-grey: #666;
    --color-grey-light: #ccc;
}