@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/footer";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";
@import "layout/gallery";

@import "components/button";
@import "components/bg-dark";
@import "components/bg-cream";
@import "components/bg-light";
@import "components/bg-white";
@import "components/about";
@import "components/popup";

@import "pages/home";
