.header {
 
    &__slider {
        position: relative;
        display: block;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        
        .slick-arrow {
            position: absolute;
            z-index: 20;
            top: 50%;
            width: 4.6rem;
            height: 4.6rem;
            overflow: hidden;
            background-color: #fff;
            border-radius: 50%;
            outline: none;
            border: none;
            transition: 0.2s;

            &:hover {
                background-color: #000;
            }            

            &.slick-prev {
                left: 3rem;
                z-index: 100;
                font-size: 0;
                transition: 0.2s;

                & .slick-prev__icon {
                    height: 2rem;
                    width: 2rem;
                    fill: #000;
                }

                &:hover .slick-prev__icon {
                    fill: #fff;
                }
            }

            &.slick-next {
                right: 3rem;
                z-index: 100;
                font-size: 0;
                transition: 0.2s;

                & .slick-next__icon {
                    height: 2rem;
                    width: 2rem;
                    fill: #000;
                }

                &:hover .slick-next__icon {
                    fill: #fff;
                }
            }
        }
    }

    .slide {
        background-size: cover;
        background-position: top;
        position: relative;
        width: 100%;
        height: 100vh;
    
        &--1 {
            background-image: linear-gradient(
                to right bottom, 
                rgba(#000000, 0.2),
                rgba(#000000, 0.2)), 
                url(../img/slide1.jpg);

            //background-image: url(../img/slide1.jpg);
        }

        &--2 {
            background-image: linear-gradient(
                to right bottom, 
                rgba(#000000, 0.2),
                rgba(#000000, 0.2)), 
                url(../img/slide2.jpg);

            //background-image: url(../img/slide2.jpg);
        }

        &--3 {
            background-image: linear-gradient(
                to right bottom, 
                rgba(#000000, 0.3),
                rgba(#000000, 0.3)), 
                url(../img/slide3.jpg);

            //background-image: url(../img/slide3.jpg);
        }

        &--4 {
            background-image: linear-gradient(
                to right bottom, 
                rgba(#000000, 0.2),
                rgba(#000000, 0.2)), 
                url(../img/slide4.jpg);

            //background-image: url(../img/slide4.jpg);
        } 
    }   

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 10;

        .h6 {
            margin-bottom: 3rem;
        }
    } 
}













