.navigation {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  height: 1rem;
  padding-top: 1rem;

  @include respond($bp-small) {
    position: relative;
    background-color: var(--color-white);
    color: var(--color-primary);
    height: 6.5rem;
    padding-top: 1rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2rem;
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;

    @include respond($bp-small) {
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
  }

  &__mobile {
    @include respond($bp-small) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      height: 100%;
      padding-top: 0.2rem;
    }
  }

  &__logo {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--color-white);
      font-size: 2.6rem;
      cursor: pointer;
      font-weight: 300;
      text-shadow: -0.5px 0px 0px rgba(255, 255, 255, 1);
      letter-spacing: 1.8px;

      @include respond($bp-small) {
        color: var(--color-primary);
        font-weight: 300;
        height: 100%;
        font-size: 3rem;
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: center;

    @include respond($bp-small) {
      position: absolute;
      top: 6rem;
      display: none;
      background-color: var(--color-white);
      padding: 1rem 0 1.1rem 0;
    }
  }

  &__item {
    margin: 0 1.2rem;

    @include respond($bp-medium) {
      margin: 0 1rem;
    }

    @include respond($bp-small) {
      width: 100vw;
      text-align: center;
      margin: 0.9rem 0;
    }
  }

  &__item--tablet-view {
    display: none;

    @include respond($bp-medium) {
      display: unset;
    }

    @include respond($bp-small) {
      display: block;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      color: var(--color-white);
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 2.1px;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.4s;
      padding-bottom: 0.1rem;

      @include respond($bp-small) {
        color: var(--color-grey);
      }
    }

    &:hover,
    &:active {
      border-bottom: 1px solid var(--color-white);

      @include respond($bp-small) {
        color: var(--color-black);
        border-bottom: 1px solid var(--color-black);
      }
    }
  }

  &__ctrl {
    @include respond($bp-medium) {
      display: none;
    }

    &--icon {
      margin-bottom: -1rem;
      margin-right: 0.9rem;
      height: 3rem;
      width: 3rem;
      fill: var(--color-grey-light);

      &:hover {
        fill: var(--color-tertiary);
      }
    }
  }

  &__icons {
    display: none;

    @include respond($bp-small) {
      display: unset;
    }

    &--mail,
    &--phone,
    &--dehaze {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
      stroke: var(--color-white);
      stroke-width: 0.7;
      padding-top: 0.6rem;
    }
  }

  a {
    text-decoration: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  height: 6rem;
  z-index: 9997;
  box-shadow: 0 1px 1px #efefef;
  transition: all 0.4s ease-out;

  @include respond($bp-small) {
    height: 6.5rem;
  }

  .navigation__nav {
    align-items: center;
  }

  .navigation__logo {
    color: var(--color-primary);
    text-shadow: -0.8px 0px 0px rgba(51, 48, 46, 1);

    @include respond($bp-small) {
      text-shadow: none;
    }
  }

  .navigation__link {
    &:link,
    &:visited {
      color: var(--color-grey);
    }

    &:hover,
    &:active {
      color: var(--color-black);
      border-bottom: 1px solid var(--color-black);
    }
  }

  .navigation__ctrl--icon {
    &:hover {
      fill: var(--color-primary);
    }
  }
}
