.navigation {
    z-index: 10;
    max-width: 150rem;
    margin: 2rem auto;
    position: absolute;
    left: 50%;
    width: 100%;
    text-align: center;

    &__nav {
        position: relative;
        left: -50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;
    }

    &__list {
        display: flex;
    }

    &__item {

    }
}