.dark-bg {
    background-color: var(--color-primary);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    @include respond($bp-medium) {   
        height: 40vh;
    }

    @include respond($bp-small) {   
        height: 30vh;
    }

    &--content {
        margin-left: auto;
        margin-right: auto;
        padding: 10rem 0;
        
        max-width: 50vw;


        @include respond($bp-medium) {   
            max-width: 78vw;
        }


        @include respond($bp-small) {   
            max-width: 90vw;
        }
    }
}