.dark-bg {
    background-color: var(--color-primary);
    text-align: center;
    padding: 15rem auto;


    &--content {
        margin-left: auto;
        margin-right: auto;
        padding: 10rem 0;
        
        max-width: 50vw;


        @include respond($bp-medium) {   
            max-width: 70vw;
        }


        @include respond($bp-small) {   
            max-width: 80vw;
        }
        
    }

}