.cream-bg {
    background-color: orangered;
    padding: 15rem 10rem;

    @include respond($bp-medium) {   
        padding: 10rem 5rem;
    }

    &__inner {
        max-width: 110rem;
        margin: 3rem auto;

        place-items: center;

        &--content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
            grid-gap: 7rem;
        }
    }
}

.massage {

    &:last-child {
        grid-column: 2 / -2;
    }

    &__img {
        width: 100%;
    }

    &__overlay {

        
    }

    &:hover .image__overlay {
        opacity: 1;
    }

    &--text-box {

    }

    &__title {

    }


}

.massage .massage__overlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    
    transition: all 0.2s linear, 1s;
}

.massage .massage:hover .massage__overlay {
	opacity: 1;
}