.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        padding: 1rem 2rem 0.9rem;
        display: inline-block;
        border-radius: 2px;
        transition: all .4s ease-in-out;
        position: relative;
        font-size: 1.2rem;
        border: 1px solid #fff;
        white-space: nowrap;
    
        // change for the <button> element
        border: none;
        cursor: pointer;
        }

    &--white {
        margin-top: 3rem;
        font-family: "Raleway", sans-serif;
        background-color: var(--color-white);
        color: var(--color-black);
        font-weight: 600;
        letter-spacing: 2.5px;

        &:hover {
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }

    &--animated {
        animation: moveInBottom 1s ease-out .75s;
        animation-fill-mode: backwards;
    }
}




