body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    box-sizing: border-box;
}

.h1 {
    color: var(--color-white);
    font-size: 6.0rem;
    font-weight: 200;
    line-height: 1.1;
    text-shadow: -0.5px 0px 0px rgba(255, 255, 255, 1);

    @include respond($bp-medium) {   
        font-size: 5rem;
    }

    @include respond($bp-small) {   
        font-size: 3.4rem;
    }

    &--left {
        display: block;
        animation: moveInLeft 1s ease-out;
    }

    &--right {
        display: block;
        animation: moveInRight 1s ease-out;
    }
}

.h2 {
    color: var(--color-white);
    font-size: 4.5rem;
    font-weight: 200;
    line-height: 1.2;

    @include respond($bp-small) {   
        font-size: 3.4rem;
    }
}

.h3 {
    color: var(--color-white);
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.2;
}

.h4 {
    color: var(--color-white);
    font-size: 2.3rem;
    font-weight: 200;
    line-height: 1.5;
}

.h5 {
    font-size: 1.6rem;
    font-weight: 200;
}


.h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: var(--color-white);
    font-size: 1.1rem;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 2px;

    &--animated {
        animation: moveInTop 1s ease-out .75s;
        animation-fill-mode: backwards;
    }
}